academic_cv.aux
academic_cv.bbl
academic_cv.bcf
academic_cv.blg
academic_cv.fdb_latexmk
academic_cv.fls
academic_cv.log
academic_cv.out
academic_cv.run.xml
academic_cv.synctex.gz
preamble.fdb_latexmk
preamble.fls
preamble.log